/* comentario: Anatomia de una regla CSS;*/
/* selector { propiedad : valor; }
/* selector {

	propiedad : valor;
	propiedad : valor;
	propiedad : valor;
}
*/

* {
	outline: dotted 1px red; /*linea divisora de cada caja. puede ser punteda, con guiones, o linea*/
}

body{
	font-family: Helvetica, Arial, sans-serif; /*tipo de letra*/
	font-size: 14px;
	color: #333333;
	margin: 0;
}

img{
	display: block;
	width: 100%;

}
a {
	color: #333;
	text-decoration: none;
}
header{
	background-color: #333;
	color: #fff;
	padding: 15px;
	overflow: hidden;
}
header a {
	color: #fff;
	display: block;
	padding: 5px;
	text-align: center;
}
header a:hover {
	color: #AAA;
}
header h1 {
	float: left;
	font-size: 28px;
	font-weight: 700;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: left; center;
	background-size: contain;
	padding-left: 72px;
}

header nav {
	float: right;
}

header ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
header ul li {
	display: inline-block;	
}

#noticias-destacadas img { /*<--refere a un elemento con id"noticias-destacadas" */
	width:100%;
	display:block;
}

#noticias-destacadas h2 {
	background-color: #333;
	color: #fff; /*color letra*/
	font-size: 32px; /*tamaño fuente*/
	font-weight: 700; /*ancho negrita*/
	padding: 15px; /*espaciado interno de la caja, empuja para adentro. La otra opcion es margin pero separa la caja del borde*/
}

.noticia{
	display: flex; /* indican que los items de ese contenedor seran posicionados con las config de abajo*(se usan con las config de abajo)/ 
	/* en vez de usar float usas flex para que */
	flex-direction: row; /*row (fila) - column (columna)*/
	align-items: center; /*posibles valores - flex start - center - flex-end*/
	justify-content: space-around;/* alineación flex start - center - flex end - space-around - space-between */
	border-bottom: solid 2px #ccc; /*linea divisoria entre nota y nota. */
	padding:20px 0;
	margin: 0 20px;
}

.noticia:last-child	{ /*seudo clase dado que es una regla especifica que no amerita hacer una nueva clase pero hay que definirle config especifica*/
	border: none;
}

.noticia-img {
	width: 30%; /*width ancho del elemento*/
	
	
}
 .noticia-txt {
 	width: 60%;
 	
 }

.noticia-txt h3, .noticia-txt p, .noticia-txt blockquote {
	margin: 20px 0 10px 0;
	/*tambien se puede poner margin: 10px 0; El primero es eje "Y" y el otro "X". Para bajarle peso*/
	line-height: 1.5 /*interlineado - pueden ser valores o fracciones*/ /*la base de calculo es el alto de la letra*/
}

.noticia-txt h3{
	font-weight: 700;
	font-size: 28px;
}


.noticia-txt p a{
	color: #000;
	font-weight:700;
}

#tabla-posiciones table {
	margin: auto;
	border-collapse: collapse;
	border:none;
	width: 80%;
}
#tabla-posiciones table th{
	background-color: red;
	color: #fff;
	padding: 10px;
	font-weight: 700;
	font-size: 20px;

}

#tabla-posiciones table td{
	background-color: #ccc;
	padding: 10px;
}

#tabla-posiciones table td:nth-of-type(odd){
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}

#tabla-posiciones table td:nth-of-type(even) span {
	color: darkblue;
	font-weight: bold;
}

#tabla-posiciones table tr {
	border-bottom: solid 1px #CCC
}
#tabla-posiciones table tr: last-child,
#tabla-posiciones table tr: first-child
 {
	border: none;
}
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	margin-top: 20px;
}

/* despues de @media se espicifica el tipo de dipositivo print para impresoras por ejemlpo
es decir estilo de como se va a imprimir en papel lo que veo en la pantalla. screen para definir pantalla */

@media screen and (min-width: 320px) and (max-width: 480px) 
{
	header h1 {
		font-size: 24px;
		padding-left: 55px;	
}

header nav  {
	display: none;
	float: none;
	clear: both;  /*sirve para romper los elementos flotantes de arriba y como "dejar un espacio"*/
}

header nav li {
	display: block;
	
}

header button {
	margin: 0;
	padding: 5px;
	color: #fff;
	border: none;
	float: right;
	background-color: transparent;
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
}

header button:focus + nav {
	display: block;
}
}